
@font-face {
    font-family: 'Apple2Forever80';
    src: url('https://prodos8.com/fonts/Apple2ForeverFont/Apple2Forever80.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}